{% extends 'base.html.twig' %}

{% block title %}Watchtower{% endblock %}

{% block body %}
    <h2 class="text-2xl text-purple-600">Welcome to our Application to check your Watchlist</h2>
{% endblock %}
