{% extends 'base.html.twig' %}

{% block title %}Watchtower{% endblock %}

{% block body %}

    <div class="core">
        <h1>Welcome to our Application </h1>

        <a href="{{ path('app_login') }}" class="btn my-2">
            Login
        </a>
        <a href="{{ path('app_register') }}" class="btn my-2">
            Register
        </a>    

    </div>
{% endblock %}
