{% extends 'base.html.twig' %}

{% block title %}Hello WatchlistAnalysisController!{% endblock %}

{% block body %}

    <div class="core">
        <h1>Welcome to your Watchlist</h1>

        <div class="my-6">
            I identify as a table
        </div>

        <div class="my-6">
            I identify as an interactive chart
        </div>

        <a href="{{ path('app_news')}}" class="m-6 btn">
            News
        </a>

        <a href="{{ path('app_settings')}}" class="m-6 btn">
            Settings
        </a>

    </div>

    

    

{% endblock %}
