{% extends 'base.html.twig' %}

{% block title %}Hello WatchlistAnalysisController!{% endblock %}

{% block body %}

    <h1>Welcome to your Watchlist</h1>

    <a href="{{ path('app_news')}}" class="m-6 py-2 px-4 bg-purple-700 font-bold text-gray-100 rounded-2xl">
        News
    </a>

    <a href="{{ path('app_settings')}}" class="m-6 py-2 px-4 bg-purple-700 font-bold text-gray-100 rounded-2xl">
        Settings
    </a>

    

{% endblock %}
