@import "tailwindcss";

@theme {
    --color-bgdefault: #f3f3f4;
    --color-primary: #f3d5ff;
    --color-secondary: #c57ce0;
    --color-tertiary: #f3d5ff;
    --color-surface: #ffffff;
    --color-accent1: #c57ce0;
    --color-accent2: #4f1365;
    --color-redcustom: #bb2f47;
    --color-greencustom: #16a34a;
    --color-textcustom: #000000;
    --color-textfields: #000000;
    --color-texttableheader: #f3d5ff;
    --background-image-main-gradient: linear-gradient(135deg, #80339c, #9f26cb);
    --color-neutral-primary: #39313c;
    --color-neutral-secondary: #4e4553;
    --color-neutral-tertiary: #645a6a;
}

@variant dark (&:where(.dark, .dark *));

 .dark {
    --color-bgdefault: #1e1e1e;
    --color-primary: #4f1365;
    --color-tertiary: #f3d5ff;
    --color-surface: #151515;
    --color-accent1: #a964c3;
    --color-accent2: #f3d5ff;
    --color-redcustom: #ff7c92;
    --color-textcustom: #645a6a;
    --color-textfields: #ffffff;
    --color-texttableheader: #645a6a;
    --color-neutral-primary: #645a6a;
    --color-neutral-tertiary: #39313c;
} 

@layer base {
    h1 {
        @apply text-textcustom font-extrabold text-4xl my-4;
    }
}

@layer components {
    .core {
        @apply flex flex-col justify-center items-center min-h-screen;
    }

    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #434952 transparent;
    }

    .btn {
        @apply px-4 py-1 m-2 bg-main-gradient font-bold text-white text-xl rounded-xl;
    }


    .forminput {
        @apply flex flex-col;
    }

    .formlabel {
        @apply text-textcustom mb-1 text-sm;
    }

    .inputfield {
        @apply border-neutral-tertiary border-2 bg-bgdefault rounded-xl px-4 py-2 text-textfields;
    }

    .tilebox {
        border: 2px solid transparent;
        background: 
            linear-gradient(var(--color-surface), var(--color-surface)) padding-box, /* Inner color */
            linear-gradient(150deg, var(--color-accent1) 30%, var(--color-surface) 40%) border-box; /* Gradient color */
        @apply rounded-2xl text-textfields;
    }

    .watchlist-table {
        @apply w-full border-collapse overflow-hidden rounded-sm;
        
        & thead {
            @apply bg-accent2 text-texttableheader uppercase tracking-wider;
            & th {
                @apply px-6 py-4 font-bold;
            }
        }

        & tbody {
            & tr {
                @apply border-b border-neutral-tertiary/20 last:border-0 transition-colors hover:bg-accent1/10;
                background-color: var(--color-surface);
            }
            
            & td {
                @apply px-6 py-4 text-sm text-textfields text-center;
            }
        }
    }
    .watchlist-table tbody td.price-positive {
        color: var(--color-greencustom);
    }
    .watchlist-table tbody td.price-negative {
        color: var(--color-redcustom);
    }


}