<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <icon rel="shortcut icon" href="./favicon.ico">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}

    </head>
    <body>
        <div class="bg-gray-300 flex flex-col justify-center items-center h-screen w-screen">
            {% block body %}{% endblock %}
        </div>
        
    </body>
</html>